* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    padding-top: 50px;
    padding-bottom: 65px;
    background: #93d2f7;
    border-top: 1px solid #1c253f;
    border-bottom: 1px solid #1c253f;
    font-size: 20px;
    color: #1c253f;
    display: flex;
    justify-content: center;
    align-items: center;
}